.img
{
	border-radius: 10px;
}

.hr{
	max-width: 3.25rem;
    border-color: #F9A405;
    border-width: .2em;
    margin-top: 40px;
}
.p{
	font-weight: bold;
	text-align: justify;
	font-size: 20px;
}
.card1{
	float: left;
	height: 300px;
}
.dd{
	border: none;
	margin-top: 8px;
}
#box{
	box-shadow:  3px 3px 3px 3px #EDEDEA;
}